@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
  --first-color: ;
  --second-color: ;
  --third-color: ;
  --fourth-color: ;
  --fifth-color: ;
  --sixth-color: ;
}

body{
  background-color: rgb(170, 204, 209);
}

* {
  font-family: "Rowdies";
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
}

.Title {
  color: blue;
  font-size: 140px;
  text-align: center;
  margin-bottom: 100px;
  text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    3px 3px 0 black;
}

.AllLinks{
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.AllGames {
  width: 1100px;
  /* background-color: aquamarine;  CHIVATO PARA VER EL CUERPO DE TODOS LOS JUEGOS  */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.Game {
  width: 350px;
  height: 330px;
  background-color: rgb(69, 138, 165);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.Image {
  margin-top: 30px;
  width: 290px;
  height: 220px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  object-fit: cover;
}

.AllDescription {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 290px;
  font-size: 1.7rem;
}